doctype html
html(lang="en")
    head
        // Required meta tags
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        // Bootstrap CSS
        link(rel="stylesheet" href="/public/stylesheets/bootstrap.min.css" crossorigin="anonymous")
        // Icon
        link(rel="stylesheet" href="/public/stylesheets/fontawesome.all.min.css" crossorigin="anonymous")
        // Image Compare
        link(rel='stylesheet' href='/public/stylesheets/image-compare-modal.css' crossorigin="anonymous")
        link(rel='stylesheet' href='/public/stylesheets/image-compare-viewer.min.css' crossorigin="anonymous")
        // Image Modal Enlarge
        link(rel='stylesheet' href='/public/stylesheets/image-enlarge-modal.css' crossorigin="anonymous")
        title Micoo
        style.
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        // expressing dashboard default javascript
        script(async="" src="/public/javascript/app.js")
        // expressing dashboard default style
        link(href="/public/stylesheets/app.css" rel="stylesheet")
    header
        #navbarHeader.bg-dark.collapse(style="")
            .container
                .row
                    .col-sm-8.col-md-7.py-4
                        h4.text-white About
                        p.text-muted
                            | Micoo is a screenshot pixel compare service, which provides simple but convenient usages in regression visual testing. Micoo is composed of:
                            a(href="https://github.com/Prior99/native-image-diff#readme")  Native-image-diff
                            | ,
                            a(href="https://expressjs.com/")  ExpressJS
                            | ,
                            a(href="https://getbootstrap.com/")  Bootstrap
                            | ,
                            a(href="https://pugjs.org/")  Pug
                            | , and
                            a(href="https://www.mongodb.com/")  MongoDB.
                    .col-sm-4.offset-md-1.py-4
                        h4.text-white Author
                        ul.list-unstyled
                            li
                                a.text-white(href="#") biaofu@thoughtworks.com
                            //li
                            //    a.text-white(href="#") Like on Facebook
                            //li
                            //    a.text-white(href="#") Email me
        .navbar.navbar-dark.bg-dark.shadow-sm.navbar-justify
            .container.d-flex.justify-content-between
                a.navbar-brand.d-flex.align-items-center(href="/")
                    h2 Micoo
                //- button.navbar-toggler.collapsed(type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation")
                //-     span.navbar-toggler-icon
                .pl-2.pr-2.d-flex
                    button.navbar-toggler.collapsed(type='button' data-toggle='collapse' data-target='#navbarHeader' aria-controls='navbarHeader' aria-expanded='false' aria-label='Toggle navigation')
                        ion-icon(name='grid-outline')
                    form.ml-3.mb-0.align-self-center(action='/auth/logout' method='post')
                        button#log-out-outline.navbar-toggler.collapsed(type='submit')
                            ion-icon(name='log-out-outline')

    block body
        
    script(src="/public/javascript/ionicons.js")
    //script(src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js")
    script(src="/public/javascript/bs-custom-file-input.min.js")
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src="/public/javascript/jquery-3.4.1.slim.min.js" crossorigin="anonymous")
    script.
        window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"><\\/script>')
    script(src="/public/javascript/popper.min.js" crossorigin="anonymous")
    script(src="/public/javascript/bootstrap.min.js" crossorigin="anonymous")
    script(src="/public/javascript/bootstrap.bundle.min.js" crossorigin="anonymous")
    footer.text-muted.text-center.font-weight-light
        .container
            p save your time by automation, spend it more in exploring
