doctype html
html(lang="en")
    head
        // Required meta tags
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        // Bootstrap CSS
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
        // Icon
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous")
        title Micoo
        style.
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        // expressing dashboard default javascript
        script(async="" src="/public/javascript/app.js")
        // expressing dashboard default style
        link(href="/public/stylesheets/app.css" rel="stylesheet")
    header
        #navbarHeader.bg-dark.collapse(style="")
            .container
                .row
                    .col-sm-8.col-md-7.py-4
                        h4.text-white About
                        p.text-muted
                            | Micoo is a screenshot pixel compare service, which provides simple but convenient usages in regression visual testing. Micoo is composed of:
                            a(href="https://github.com/Prior99/native-image-diff#readme")  Native-image-diff
                            | ,
                            a(href="https://expressjs.com/")  ExpressJS
                            | ,
                            a(href="https://getbootstrap.com/")  Bootstrap
                            | ,
                            a(href="https://pugjs.org/")  Pug
                            | , and
                            a(href="https://www.mongodb.com/")  MongoDB.
                    .col-sm-4.offset-md-1.py-4
                        h4.text-white Author
                        ul.list-unstyled
                            li
                                a.text-white(href="#") biaofu@thoughtworks.com
                            //li
                            //    a.text-white(href="#") Like on Facebook
                            //li
                            //    a.text-white(href="#") Email me
        .navbar.navbar-dark.bg-dark.shadow-sm.navbar-justify
            .container.d-flex.justify-content-between
                a.navbar-brand.d-flex.align-items-center(href="/")
                    h2 Micoo
                button.navbar-toggler.collapsed(type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
    block body
        // Optional JavaScript
        // jQuery first, then Popper.js, then Bootstrap JS
        script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
    footer.text-muted.text-center.font-weight-light
        .container
            p save your time by automation, then spend it more in exploring
