html(lang="en")
    head
        // Required meta tags
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        // Bootstrap CSS
        link(rel="stylesheet" href=contextPath + "/public/stylesheets/bootstrap.min.css" crossorigin="anonymous")
        title Error
        style.
    body.bg-dark
        .container.text-white(style="height: 750px")
            .row.justify-content-center.align-items-center(style="height: 100%")
                .col-5
                    img(src=errorImage)
                .col-6
                    h1(style="margin-top: -10rem") マスターからのメッセージ
                    h3.font-weight-normal(style="margin-top: 2rem") "Sorry, but something is wrong ..."
