html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href=contextPath + "/public/stylesheets/bootstrap.min.css" crossorigin="anonymous")
        title Error
        style.
    body(style="background-color: black")
        .container.text-white(style="height: 750px; width: 100%")
            .row.justify-content-center.align-items-center(style="width: 100%; height: 100%")
                .col-6.d-flex.justify-content-center
                    img(src=contextPath + "/public/image/miku-error-m.webp")
                .col-6.d-flex.align-items-center
                    div
                        .h5 エラー:
                        .h3.ont-weight-normal #{errorMessage}
